# Node
node_modules/
dist/
.next/
out/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
venv/
env/
.venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive Keys
service_account.json
google-services.json
*.pem

# Android / Gradle
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
